<div data-role="header">

	<h1>About</h1>
  <a href="#" data-icon="plus" data-iconpos="notext" class="ui-btn-right"></a>


  </div>


       <div data-role="content">


         <p>Test Ruby and mobile</p>

   


       </div>


  <div data-role="footer" data-position="fixed">
  	<a href="#">Sync</a>
     
  </div>
