

  <div data-role="header"><h1>Home Page</h1>



  </div>


       <div data-role="content">


         <p>Test Ruby and mobile Home</p>

        	
       
         <a href="mobile_tests/services" data-transition="slide">Services</a>

           <%=link_to 'about',mobile_tests_about_path%>

       </div>


  <div data-role="footer" data-position="fixed">
       <h4>Footer</h4>
  </div>


