

  <div data-role="header" data-position="inline">
       <a href="#" data-icon="delete">Cancel</a>
  	<h1>Services</h1>
  	<a href="#" data-icon="check">Done</a>



  </div>


       <div data-role="content">


         <p>Test Ruby and mobile</p>

         <div data-role="controlgroup" data-type="horizontal">

              <a href="#" data-role="button" data-theme="b">Go</a>
                <a href="#" data-role="button" data-theme="c">Yo</a>
                  <a href="#" data-role="button" data-theme="b">Low</a>

         </div>

         <button type="submit" data-role="none">Submit</button>
         <input type="button" value="delete" data-icon="delete">

       


       </div>




  <div data-role="footer" data-position="fixed">
       <div data-role="navbar">
          
          <ul>

            <li><a href="#" data-icon="arrow-l">A</a></li>
               <li><a href="#" data-icon="back"></a></li>
                  <li><a href="#" data-icon="star"></a></li>
                     <li><a href="#" data-icon="plus"></a></li>
                      <li><a href="#" data-icon="arrow-r"></a></li>
          
          </ul>


       </div>
  </div>


